html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/Skaihookki_2.png');
}
.container {
    display: grid;
    height: 100vh;
}

header {
    background-color: #C3CEDA;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    float: right;
    display: flex;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
}
li {
    margin-left: 1rem ;
}
li a {
    color: #071330;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}
nav a:hover {
    color: #738FA7;
}
.tutorial-box {
    border: 2px solid #738FA7;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#street-view {
    height: 80vh;
    width: 80vw;
    border-radius: 17px;
}

#map {
    position: absolute;
    bottom: 2%;
    right: 5px;
    width: 30%;
    height: 40%;
    z-index: 5;
    border: 3px solid rgba(0, 255, 197, 0.71);
    border-radius: 25px;
}

#map:hover{
    border-color: #ec008c;
}

#score {
    position: absolute;
    top: 44%;
    right: 5px;
    width: 150px;
    height: 110px;
    background-color: #1b1464;
    z-index: 6;
    border: 3px solid rgba(0, 255, 197, 0.71);
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#score p {
    font-size: 20px;
    margin: 0;
}

#guess-button {
    padding: 10px 20px;
    margin-top: 60px; /* Adjust the top margin a    s needed */
    margin: auto;
    font-size: 18px;
    border: 3px solid rgba(0, 255, 197, 0.71);
    border-radius: 7px;
    background-color: #1b1464;
    color: white;
    cursor: pointer;
}

#guess-button:hover {
    border-color: rgb(236, 0, 140); /* Change border color on hover */
}

#roundResult {
    display: none;
    position: absolute;
    right: 50%;
    left: 40%;
    top: 50%;
    transform: translate(0%, -50%);
    z-index: 500;
    background-color: #1b1464;
    border: 3px solid rgba(0, 255, 197, 0.71);
    color:white;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
    width: 15%;
}


#roundResult button {
    background-color: #1b1464; /* Change background color */
    color: white; /* Change text color */
    border: 3px solid rgba(0, 255, 197, 0.71); /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    padding: 10px 20px; /* Add padding */
    font-size: 18px; /* Adjust font size */
    cursor: pointer; /* Add pointer cursor on hover */
    margin-top: 10px; /* Add margin top to create space */
}

#roundResult button:hover {
    border-color: rgb(236, 0, 140); /* Change border color on hover */
}


.bigBox {        /*voit säätää boxin kokoa ja kaikki muut map, score jne.liikku sen mukana */
    width: 80%;
    height: 80%;
    border: 5px solid rgba(0, 255, 197, 0.71);
    place-self: center;
    border-radius: 20px;
}



