body {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/Skaihookki_2.png');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.bigBox {
    position: relative;
    width: 20%;
    height: auto;
    color: white;
    background-color: rgba(27, 20, 99, 0.932);
    border: 5px solid rgba(0, 255, 197, 0.71);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#highestScore {
    font-size: 40px;
    margin-top: 2px;
}

#scoreboard {
    font-size: 30px;
    margin-top: 2px;
}

/* Kohdistetaan h1 ja p sisällöt keskelle */
.bigBox h1, .bigBox p {
    text-align: center;
    width: 100%;
}

/* Taulukon tyylit */
.bigBox table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

/* Taulukon otsikot */
.bigBox th {
    background-color: rgba(0, 255, 197, 0.71);
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

/* Taulukon solut */
.bigBox td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

#userHighestScore {
    color: white;
}

/* Painikkeiden tyylit */
.bigBox button {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px solid rgba(0, 255, 197, 0.71);
    border-radius: 7px;
    background-color: #1b1464;
    color: white;
    cursor: pointer;
}

#previousPage button, #logOut button {
    margin-top: 20px;
}

#previousPage button:hover, #logOut button:hover {
    border-color: rgb(236, 0, 140);
}