.bigBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 75%;
    color: white;
    background-color: rgba(27, 20, 99, 0.73);
    border: 5px solid rgba(0, 255, 197, 0.71);
    border-radius: 20px;
    display: block;
    flex-wrap: wrap;
    backdrop-filter: blur(3px);
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    backdrop-filter: blur(3px);
}

#highestScore {
    font-size: 40px;
    margin-top: 2px;
}

/* Apply styles to h1 and p inside .bigBox */
.bigBox h1, .bigBox p {
    text-align: center; /* Center text */
    width: 100%; /* Take full width */
}

/* Style the table */
.bigBox table {
    width: 70%; /* Take full width */
    border-collapse: collapse;
    left: 50%/* Collapse table borders */
}

/* Style table header */
.bigBox th {
    background-color: rgba(0, 255, 197, 0.71); /* Light gray background */
    padding: 8px; /* Padding */

}

/* Style table cells */
.bigBox td {
    border: 1px solid #ddd; /* Gray border */
    padding: 8px; /* Padding */
}

#userHighestScore {
    color: white;
}
/* Style buttons */
.bigBox button {
    margin-top: 10px; /* Add space between buttons */
}

#previousPage button {
    padding: 10px 20px;
    margin-top: 60px; /* Adjust the top margin a    s needed */
    margin: auto;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 7px;
    background-color: #071330;
    color: white;
    cursor: pointer;
}
#previousPage button:hover{
    border-color: rgba(255, 255, 255, 0.50);
}
#logOut button {
    padding: 10px 20px;
    margin-top: 60px; /* Adjust the top margin a    s needed */
    margin: auto;
    font-size: 18px;
    border: 3px solid black;
    border-radius: 7px;
    background-color: #071330;
    color: white;
    cursor: pointer;

}
#logOut button:hover{
    border-color: rgba(255, 255, 255, 0.50);
}
body {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/Skaihookki_2.png');
    background-size: cover;
}