.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%; /* Adjust width as needed */
    padding: 5%; /* Add padding for better appearance */
    background-color: rgba(27, 20, 100, 0.73);
    border: 5px solid rgba(0, 255, 197, 0.71);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    text-align: center;

}

#kaikkiFontit {
    color: white;
}

.centerBox p {
    color: #ec008c;
}

h1 {
    margin-top: 0; /* Remove default margin for better alignment */
}

button {
    padding: 10px 20px;
    margin-top: 60px; /* Adjust the top margin a    s needed */
    margin: auto;
    font-size: 18px;
    border: 3px solid #00ffc5;
    border-radius: 7px;
    background-color: #1b1464;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    border-color: rgba(237, 0, 142)
}

body {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/Skaihookki_2.png');
    background-size: cover;
}

.error-message {
    color: red;
    font-size: 1rem; /* Appropriate font size */
    margin-top: 20px; /* Space above the error message */
    margin-bottom: 10px; /* Space below the error message, just above the buttons */
}
