:root {
    --background-dark: rgba(20, 39, 35, 0.73);
    --text-color: white;
    --button-background: rgba(0, 0, 0, 0.3);
    --button-hover-background: rgba(0, 0, 0, 0.6);
    --input-background: rgba(0, 0, 0, 0.37);
    --error-color: red;
}

img {
    background-size: cover;
}

body {
    font-family: "Saira Condensed", sans-serif;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 2%;
    background-color: var(--background-dark);
    border: 5px solid transparent;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    text-align: center;
}

#kaikkiFontit {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: var(--input-background);
    color: var(--text-color);
    border: none;
}

button {
    width: 50%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s;
    border: 3px solid transparent;
    border-radius: 7px;
    background-color: var(--button-background);
    color: var(--text-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-background);
}

.error-message {
    color: var(--error-color);
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}