body {
    font-family: "Saira Condensed", sans-serif;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    padding: 2%; 
    background-color: rgba(20, 39, 35, 0.73);
    border: 5px rgba(20, 39, 35, 0.73);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    text-align: center;
}

#kaikkiFontit {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;

    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.37);
    color: #ffffff;
}

button {
    width: 50%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s;
    border: 3px solid rgba(20, 39, 35, 0);
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.error-message {
    color: red;
    font-size: 1rem;
    margin-top: 20px;
    margin-bottom: 10px;
}