:root {
    --background-dark: rgba(20, 39, 35, 0.73);
    --text-color: white;
    --button-background: rgba(0, 0, 0, 0.3);
    --button-hover-background: rgba(0, 0, 0, 0.6);
    --input-background: rgba(0, 0, 0, 0.37);
    --error-color: red;
}

body {
    font-family: "Saira Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 400px;
    padding: 2%;
    background-color: var(--background-dark);
    border: 5px solid transparent;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 15px;
    padding: 0;
}

.menu button {
    width: 200px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    transition: background-color 0.3s;
    border: 3px solid transparent;
    border-radius: 7px;
    background-color: var(--button-background);
    color: var(--text-color);
    cursor: pointer;
    display: block;
}

.menu button:hover {
    background-color: var(--button-hover-background);
}