body {
    font-family: "Saira Condensed", sans-serif;
    background-image: url('../images/Skaihookki_2.png');
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    padding: 2%; 
    background-color: rgba(27, 20, 100, 0.73);
    border: 5px solid rgba(0, 255, 197, 0.71);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    text-align: center;
}

#kaikkiFontit {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input {
    width: 80%;
    padding: 8px;
    margin: 10px 0;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: transparent;
    color: white;
}

button {
    width: 50%;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border: 3px solid #00ffc5;
    border-radius: 7px;
    background-color: #1b1464;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    border-color: rgb(236, 0, 140);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}