:root {
    --primary-color: #00FFC5;
    --secondary-color: #071330;
    --accent-color: #738FA7;
    --background-color: rgba(0, 0, 0, 0.7);
    --header-background: #C3CEDA;
    --font-color: white;
    --box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

body {
    font-family: "Saira Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    color: var(--font-color);
    background-image: url('../images/Skaihookki_3.jpeg');
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow: auto; /* Muutettu hidden -> auto */
    background-color: #EC008C;
}

.container {
    width: 100%;
    margin: auto;
}

.div1 {
    background-color: var(--primary-color);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}

header {
    background-color: var(--header-background);
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    display: flex;
}

.tutorial-box {
    border: 2px solid var(--background-color);
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: var(--background-color);
    backdrop-filter: blur(4px);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    box-shadow: var(--box-shadow);
}

.tutorial-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    border-color: #1B1464;
}

.tutorial-box h2 {
    font-size: 1.8rem;
    color: var(--font-color);
    margin-bottom: 10px;
    text-align: center;
}

.tutorial-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: var(--font-color);
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
}

li {
    margin-left: 1rem;
}

li a {
    color: var(--secondary-color);
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}

nav a:hover {
    color: var(--accent-color);
}

#street-view {
    height: 100vh;
    width: 100vw;
}

#map {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 500px;
    height: 550px;
    z-index: 5;
    border: 6px solid black;
    border-radius: 25px;
}

#score {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 150px;
    height: 110px;
    background-color: #2c3047;
    z-index: 6;
    border: 6px solid black;
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#guess-button {
    padding: 10px 20px;
    margin-top: 60px;
    margin: auto;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: var(--secondary-color);
    color: var(--font-color);
    cursor: pointer;
}

#roundResult {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

#previousPage {
    width: 200px;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 18px;
    border: 3px solid transparent;
    border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--font-color);
    backdrop-filter: blur(4px);
    transition: background-color 0.3s;
    cursor: pointer;
    display: block;
}

#previousPage button:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
