html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:  #EC008C;
}
.container {
    width: 100%;
    margin: auto;
}
.div1 {
    background-color: #00FFC5;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    text-align: center;
}
header {
    background-color: #C3CEDA;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    float: right;
    display: flex;
}
.tutorial-box {
    border: 2px solid #738FA7;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    background-color: #00FFC5;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.tutorial-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
    border-color: #1B1464;
}
.tutorial-box h2 {
    font-size: 1.8rem;
    color: #071330;
    margin-bottom: 10px;
    text-align: center;
}
.tutorial-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #0C4160;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
}
li {
    margin-left: 1rem ;
}
li a {
    color: #071330;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}
nav a:hover {
    color: #738FA7;
}
.tutorial-box {
    border: 2px solid #738FA7;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#street-view {
    height: 100vh;
    width: 100vw;
}

#map {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 500px;
    height: 550px;
    z-index: 5;
    border: 6px solid black;
    border-radius: 25px;
}