html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container {
    width: 100%;
    margin: auto;
}
header {
    background-color: #C3CEDA;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav {
    float: right;
    display: flex;
}
.tutorial-box {
    max-width: 600px;
    margin: 20px auto; /* Keskittää elementin sivun keskelle */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Valkoinen hieman läpinäkyvä tausta */
    border-radius: 8px; /* Pyöristää kulmat */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Varjo ympärille */
    transition: transform 0.3s, box-shadow 0.3s;
}
.tutorial-box:hover {
    transform: translateY(-5px); /* Nosta lohkoa hieman ylöspäin */
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4); /* Syvempi varjo hoverilla */
}
.tutorial-box h2 {
    font-size: 1.8rem;
    color: #071330; /* Tumma otsikkoväri */
    margin-bottom: 10px;
    text-align: center;
}
.tutorial-box p {
    font-size: 1rem;
    line-height: 1.6;
    color: #0C4160; /* Tumma teksti */
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
}
li {
    margin-left: 1rem ;
}
li a {
    color: #071330;
    width: 100%;
    height: 3rem;
    display: block;
    text-align: center;
    line-height: 3rem;
    text-decoration: none;
}
nav a:hover {
    color: #738FA7;
}
.tutorial-box {
    border: 2px solid #738FA7;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

#street-view {
    height: 100vh;
    width: 100vw;
}

#map {
    position: absolute;
    bottom: 2%;
    right: 1%;
    width: 500px;
    height: 550px;
    z-index: 5;
    border: 6px solid black;
    border-radius: 25px;
}

#score {
    position: absolute;
    top: 2%;
    right: 1%;
    width: 150px;
    height: 110px;
    background-color: #2c3047;
    z-index: 6;
    border: 6px solid black;
    border-radius: 15px;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#score p {
    font-size: 20px;
    margin: 0;
}

#guess-button {
    padding: 10px 20px;
    margin-top: 60px; /* Säädä tarvittavan tilan mukaan */
    margin: auto;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    background-color: #071330;
    color: white;
    cursor: pointer;
}

#roundResult {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}