body {
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.menu {
    position: fixed; /* Vaihda absolute fixed:ksi */
    bottom: 0; /* Asetetaan alareunaan */
    left: 50%; /* Keskitytään horisontaalisesti */
    transform: translateX(-50%); /* Keskitys korjattu horisontaalisesti */
    width: 20%; /* Leveys koko sivun levyinen */
    text-align: center; /* Tekstit keskitetään */
    background: rgba(7, 19, 48, 0.7); /* Taustaväri musta, hieman läpinäkyvä */
    padding: 1rem 0; /* Pystysuuntainen padding */
    box-shadow: 0 -5px 10px rgba(0,0,0,0.2); /* Varjo yläpuolella */
    z-index: 1000; /* Varmistetaan että se on päällimmäisenä */
}

.menu a {
    font-family: "Barlow Semi Condensed", "Roboto", sans-serif;
    font-size: 2rem; /* Fonttikoko pienemmäksi */
    text-decoration: none;
    text-transform: uppercase;
    color: white; /* Tekstin väri valkoiseksi */
    padding: 0.5rem 2rem; /* Padding pienemmäksi */
    transition: color 250ms linear, transform 250ms linear;
}

.menu a:hover {
    color: #FFD700; /* Keltainen väri hoverilla */
    transform: translateY(-3px); /* Nousee hieman kun hoveroidaan */
}
