<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyhawk - Game</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Saira+Condensed&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<img src="{{ url_for('static', filename='images/Skyhawk_kansikuva.jpeg') }}" id="coverImage"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/game">PLAY</a></li>
        <li><a href="/highscore_page">SCOREBOARD</a></li>
        <li><a href="/tutorial">TUTORIAL</a></li>
        <li><a href="/logout">LOGOUT</a></li>
    </ul>
</nav>
</body>
</html>