<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skyhawk - Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <img src="{{ url_for('static', filename='images/Skyhawk_kansikuva.jpeg') }}" height="1024" width="1024"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/testi.css') }}">
</head>
<body>
<nav class="menu">
    <ul>
        <li><a href="/game">PLAY</a></li>
        <li><a href="/highscore_page">SCOREBOARD</a></li>
        <li><a href="/tutorial">TUTORIAL</a></li>
        <li><a href="/logout">LOGOUT</a></li>
    </ul>
</nav>
</body>
</html>