<!DOCTYPE html>                  <!--PLACEHOLDER-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Highscore</title>
    <link rel="stylesheet" href="../static/css/highscore.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
</head>

<!--Sivua voi tyylitellä vapaasti, kunhan tiedonhaku pysyy sivussa-->

<body>
<div class="bigBox">
    <p id="highestScore"> Your highscore: {{ highscore }}</p>
    <p id="scoreboard">Scoreboard:</p>

    <table id="userHighestScore">
        <tr>
            <th>Username</th>
            <th>Highest Score</th>
        </tr>
        {% for score in highscores %}
        <tr>
            <td>{{ score[0] }}</td>
            <td>{{ score[1] }}</td>
        </tr>
        {% endfor %}
    </table>
    <a id="previousPage" href="/main_page" style="margin-left:10px;">
        <button type="button">Main Menu</button>
    </a>
</div>

</body>
</html>
