<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register User Score</title>
    <link rel="stylesheet" href="../static/css/signupStyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
<div class="centerBox">
    <div id="kaikkiFontit">
        <h1>Register new account</h1>
        <form action="/submit" method="post">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required><br><br>

            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required><br><br>

            {% if error %}
            <div style="color: red; margin-bottom: 10px;">{{ error }}</div>
            {% endif %}
            <button type="submit">Register</button>
        </form>
    </div>
</div>
</body>
</html>
