<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poetsen+One&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/Tutorial.css">
<title>Skyhawk - Tutorial</title>
<body>
    <div class="tutorial-box">
        <h2>Basic Guide</h2>
        <p>The player's task is to guess the location of a helicopter or airport in Europe. The player is placed in a random location with a street view.
        Based on the given view, the player has to guess the location where he is positioned. The guess is awarded between 0 and 1000 points depending on how close the guess is.
        The game has five rounds and the maximum score is 5000 points.</p>
    </div>
    <div class="tutorial-box">
        <h2>Controls</h2>
        <p>All you need to use is the mouse. Left-click on the mouse to make choices in the same way as you would normally do with a mouse. </p>
    </div>
    <div class="tutorial-box">
        <h2>Street view & setting the guess</h2>
        <p>When you start guessing the country, you can move around in the street view by holding down the left mouse click and dragging the image in different directions.
            When you release the mouse, the street view will refresh. When you think you know where in the world you are, you can set the pointer as a marker.
            After this, press the "guess" button. The score will update with your points.</p>
    </div>
    <a id="previousPage" href="/main_page" style="margin-left:10px;">
        <button type="button">Main Menu</button>
    </a>
</body>
</html>