<!DOCTYPE html>
<html lang="fi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Skyhawk - tutorial</title>
    <link rel="stylesheet" href="../static/css/Tutorial.css">
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/front_page">HOME</a></li>
                <li><a href="/highscore_page">SCOREBOARD</a></li>
                <li><a href="/tutorial">TUTORIAL</a></li>
            </ul>
        </nav>
    </header>
    <div class="tutorial-box">
        <h2>Idea</h2>
        <p>Pelaajan tehtävänä on arvata helikopteri- tai lentokentän sijainti Euroopan alueelta. Pelaaja asetetaan satunnaiseen paikkaan, jossa on street view näkymä.
        Annetun näkymän perusteella pelaajan tulee arvata paikka johon hänet on sijoituettu. Arvauksesta saa 0-1000 pistettä sen perusteella, kuinka lähelle arvaus on osunut.
        Pelissä on viisi kierrosta ja maksimi pistemäärä on 5000 pistettä.</p>
    </div>
    <div class="tutorial-box">
        <h2>Näppäimet</h2>
        <p>Pelaamiseen tarvitset ainoastaan hiiren. Hiiren vasemmalla klikillä teet valintoja samalla tavalla kuin normaalisti hiirtä käyttäessä. </p>
    </div>
    <div class="tutorial-box">
        <h2>Street view & arvauksen asettaminen</h2>
        <p>Kun aloitat arvaamaan maata, voit siirtyä katukuvassa painamalla vasemman hiiren klikkauksen pohjaan ja raahaat kuvaa eri suuntaan.
            Kun vapautat hiiren, katunäkymä päivittyy uudelleen. Kun luulet tietäväsi missä päin maailmaa olet, voivat asettaa osoittimen kerttaan merkiksi. Tämän jälkeen paina "guess"- nappia.
        Score- kohtaan päivittyy pistemäärä.</p>
    </div>
    <a id="previousPage" href="/main_page" style="margin-left:10px;">
        <button type="button">Main Menu</button>
    </a>
</body>
</html>