#street-view { 
    height: 100vh; 
    width: 100vw; 
}
#map {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 500px;
    height: 550px;
    z-index: 5;
    border: 6px solid black;
    border-radius: 25px;
}