body {
    /*background-image: url(''); */
    background-size: 100% 100%;
    /*background-position: center;*/
}
.menu {
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translateY(-50%);
    z-index: 10;
    width: min-content;
}
.menu a {
    display: block;
    font-family: "Barlow Semi Condensed", "Roboto", sans-serif; /*vaihdetaan*/
    font-size: 5vmin;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--menu); /* En tiiä viel mitä tää tekee, selvittelen ja fixaan*/
    padding: 5rem 0;
    transform: scale(.95);
    opacity: .25;
    transition: scale 550ms linear,
    opacity 250ms linear;
}
.menu a:first-of-type {
    transform: scale(1);
    opacity: 1;
}
.menu:hover a:not(:hover) {
    transform: scale(.95);
    opacity: .25;
}
.menu a:hover {
    transform: scale(1);
    opacity: 1;
}